main {
    background: #FFFFFF;
    position:absolute;
    width: 100%;
    max-width: 1440px;
    margin: 70px 240px auto;
}

body {
    background: linear-gradient(180deg, #6100FF 10.33%, rgba(167, 82, 120, 0.868191) 60.33%, rgba(210, 133, 35, 0.785865) 105%, rgba(216, 139, 25, 0.776042) 110.33%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

label{
    weight:100%;
    height:80%;
}

.text-xl{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 80px;
    line-height: 112px;
    text-align: left;
}

.text-home2{
    position: relative;
    width: 575px;
    height: 358px;
    margin: 20px 0 0 450px;
    white-space: nowrap;
}

.color-wht{
    color: white;
}

.text-home{
    position: relative;
    width: 575px;
    height: 358px;
    margin: 125px 0 0 180px;
}

.add-button {
    position: relative;
    font-size: 30px;
    border: none;
    cursor: pointer;
    color: #000000;
    font-weight: bold;
    overflow: hidden;
}

.add-button::after {
    content: '+';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.remove-button {
    position: relative;
    font-size: 30px;
    border: none;
    cursor: pointer;
    color: #000000;
    font-weight: bold;
    overflow: hidden;
}

.remove-button::after {
    content: '-';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.remove-item {
    position: relative;
    font-size: 30px;
    border: none;
    cursor: pointer;
    color: #000000;
    font-weight: bold;
    overflow: hidden;
}

.remove-item::after {
    content: 'Delete';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}