.background {
    background: linear-gradient(180deg, #6100FF 10.33%, rgba(167, 82, 120, 0.868191) 60.33%, rgba(210, 133, 35, 0.785865) 105%, rgba(216, 139, 25, 0.776042) 110.33%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.logo{
    position: absolute;
    width: 4.5vw;
    margin: 15px 0 0 20px
}

.search_bar {
    position: absolute;
    width: 42.4vw;
    height: 4.1vw;
    left: 28.5vw;   
    top: 1vw;     
    background: #FFFFFF;
}


.cart-icon{
    position:relative;
    left: 80vw;
    top: 15px;
    font-size:70px;
    color:white;
    padding-bottom: 30px; 
}

.search-icon{
    margin: 10px 0 0 39vw;
    font-size: 3vw
}

.rectangle-link {
    position: absolute;
    width: 22vw;
    height: 2.4vw;
    left: 0;
    top: 14vh;
    background: #FFFFFF;
    text-align: center;
    z-index: 5; 
}

.text-link{
    display: inline-block;  
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 44px;
    color: #6100FF;
    margin-top: 6px;
}

.login-icon{
    position:relative;
    left: 88vw;
    top: 15px;
    font-size:70px;
    color:white;
    padding-bottom: 30px;
}

.login-box{
    position: absolute;
    width: 222px;
    margin: -85px 0 0 -90px;
    text-align: center;
    line-height: 85px;
    font-size: 36px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #6100FF;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    left: -85px;
    margin-top: 10px;
    min-width: 40px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 100px;
    z-index: 999;
}
