.background {
    background: linear-gradient(180deg, #6100FF 10.33%, rgba(167, 82, 120, 0.868191) 60.33%, rgba(210, 133, 35, 0.785865) 105%, rgba(216, 139, 25, 0.776042) 110.33%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.cart-icon {
    color: white;
    font-size: 4vw; /* Tamanho de fonte responsivo em relação à largura da janela */
    padding-bottom: 3vh; /* Tamanho responsivo em relação à altura da janela */
    position: absolute;
    left: 80%; /* Ajuste a posição horizontal conforme necessário */
    top: 2.5vh; /* Ajuste a posição vertical conforme necessário */
  }
  

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    left: -85px;
    margin-top: 10px;
    min-width: 40px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 100px;
    z-index: 999;
}

.login-box{
    position: absolute;
    width: 222px;
    margin: -85px 0 0 -90px;
    text-align: center;
    line-height: 85px;
    font-size: 36px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #6100FF;
}

.login-icon {
    color: white;
    font-size: 70px;
    padding-bottom: 30px;
    position: relative;
    right: 30px;
    top: 15px;
}


.logo {
    margin: 0 0 0 20px;
    position: rela;
    width: 4.5vw;
}

.logo-link {
    display: block;
    width: 4.5vw;
    margin: 0 0 0 20px;
    position: absolute;
}


.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.rectangle-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.rectangle-link {
    background: #FFFFFF;
    height: 2.4vw;
    text-align: center;
    width: 20%; /* Defina o tamanho desejado para cada elemento */
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px; /* Espaçamento entre os elementos */
}

.search-bar {
    display: inline-block;
    position: relative;
    left: 29.5%; /* Ajuste a posição horizontal conforme necessário */
    margin-bottom: 10px; /* Adicione margem inferior conforme necessário */
  }
  
  .search-icon {
    color: #999999;
    font-size: 2.5vw; /* Tamanho de fonte responsivo em relação à largura da janela */
    position: absolute;
    right: -22.5vw; /* Ajuste a posição horizontal conforme necessário */
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  
  .search-input {
    border: none;
    border-radius: 5px;
    font-size: 1.5vw; /* Tamanho de fonte responsivo em relação à largura da janela */
    height: 7vh; /* Tamanho responsivo em relação à altura da janela */
    padding: 5px;
    width: 240%; /* Ajuste a largura conforme necessário */
    max-width: 800px; /* Defina uma largura máxima para evitar que o campo de pesquisa se estenda muito */
  }
  

.text-link {
    color: #6100FF;
    display: inline-block;
    font-family: 'Roboto';
    font-size: 2.5vh;
    font-style: normal;
    font-weight: 700;
    line-height: 4.8vh;
    margin-top: 6px;
}

.login-icon:hover .dropdown-content{
    display: block;
}