body {
    background: linear-gradient(180deg, #6100FF 10.33%, rgba(167, 82, 120, 0.868191) 60.33%, rgba(210, 133, 35, 0.785865) 105%, rgba(216, 139, 25, 0.776042) 110.33%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 4em;
    line-height: 1.4;
    text-align: left;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

#email,
#username,
input[type="password"] {
    width: 95%;
    height: 70px;
    margin-bottom: 10px;
}

label {
    display: block;
    color: #666666;
    font-size: 32px;
} 

main {
    background: #FFFFFF;
    position: absolute;
    width: 80vw;
    margin: 3% auto 0 10vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.grid-login-left{
    margin: 10px 0 10px 10px;
    grid-column: 1 / 2;
}

.grid-login-right{
    grid-column: 2 / 3;
}

.login-img{
    height: auto;
    width: 95%;
    border-style: solid;
}

.submit {
    width: 110px;
    margin-top: 30px;
    margin-right: 30px;
    float:right;
    padding: 10px;
    height: 50px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 40px;
}

.three_bars{
    position: absolute;
    margin: 60px 0 0 40px;
    font-size: 70px;
    color:white;
}

#login-error {
    display: inline-block;  
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #6100FF;
    margin-top: 6px;
}
