.apply-filter {
    width: 100%;
    margin-top: 30px;
    padding: 10px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
}

.color-blk
{
    color: black;
}


.text-link
{
    display: inline-block;  
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #6100FF;
    margin-top: 6px;
}

.text-m {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 112px;
    text-align: center;
}

.grid-product-right
{
    position: absolute;
    width: 80%;
    margin: -1440px 0 0 300px;
    padding: 20px;
}

.grid-product-left {
    width: 15%;
    background: white;
    margin-top: 100px;
    padding: 10px;
}


.grid-filter{
    margin: 0 0 0 10px;
    display: grid;
    grid-template-columns: 40px 20px;
}

.text-filter {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    color: black;
    padding: 2px;
    margin-top: 10px;
} 


.wrapper {
    display: grid;
    grid-template-columns: 520px 520px 520px;
}
  

.filter-price {
    width: 70px;
    height: 30px;
    margin: 5px;
}


.grid-filter-left{
    float: left;
    width: 31%;
    margin: 0 0 0 20px;
}

.grid-filter-right{
    float: right;
    width: 31%;
    margin: 0 20px 0 0;
}

select {
    width: 90%;
    font-size: 24px;
    margin: 10px;    
}

