.text-link{
    display: inline-block;  
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #6100FF;
    margin-top: 6px;
}

.text-m{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 112px;
    text-align: center;
}

.color-blk{
    color: black;
}

.grid-product-right {
    position: absolute;
    width: 80%;
    margin: -1440px 0 0 300px;
    
    padding: 20px;
}

.grid-product-left {
    position: sticky;
    top: 0;
    width: 15%;
    height: 1420px;
    margin: 100px 0 0 0px;
    background: white;
    opacity: 100%;
}

.text-filter{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    color: black;
    padding: 2px;
} 

.grid-filter{
    margin: 0 0 0 10px;
    display: grid;
    grid-template-columns: 40px 20px;
}

.wrapper {
    display: grid;
    grid-template-columns: 520px 520px 520px;
}
  

.filter-price{
    width:70px;
    height: 30px;
    position:relative;
}

.grid-filter-left{
    float: left;
    width: 31%;
    margin: 0 0 0 20px;
}

.grid-filter-right{
    float: right;
    width: 31%;
    margin: 0 20px 0 0;
}

select {
    width: 90%;
    font-size: 24px;
    margin: 10px;    
}

.apply-filter{
    width: 110px;
    margin-top: 30px;
    margin-right: 20px;
    float:right;
    padding: 10px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
}
